.instrumentTray {
	order: 2;
	.instrumentWrapper {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 0 auto;
		flex-grow: 1;
		@media screen and (max-width: 650px) {
			.instrumentButtonContainer {
				flex-basis: 33%;
			}
		}
	}
}

.configButtons {
	order: 0;
	justify-content: space-between;
}

.mainRow{
	order: 1;
}

.row {
	width: 100%;
	display: flex;
	padding: 20px;
	box-sizing: border-box;
}

#app {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}