$buttonColour: #bbb;
$buttonHover: darken($buttonColour, 10%);
$buttonBorderFocus: lighten($buttonColour, 10%);
$selectedColour: #6ccca5;
$selectedHover: darken($selectedColour, 10%);
$errorColour: #EF4836; 
$bluetoothColour: #006ed6;
$bluetoothHover: darken($bluetoothColour, 10%);