@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/_variables';

$buttonColor: #bbb;
$buttonActive: #999;
$activeGreen: #6ccca5;
$errorRed: #EF4836; 
