@import "variables";
@import "buttons";
@import "layout";

body, html, #app {
  margin: 0;
  height: 100%;
}

img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
